#!/bin/sh
###############################################################################
# Automatically configure local Bash environment using 'direnv'
PROJECT_ROOT="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"

export PATH=$PATH:$PROJECT_ROOT/docker/scripts

